[Desktop Entry]
Name=LiDAR-Knight Auth
GenericName=Two-factor authenticator
Exec=enteauth %U
Icon=io.ente.auth
Type=Application
Categories=Utility;
Keywords=Authentication;2FA;
MimeType=x-scheme-handler/enteauth;
StartupNotify=false
StartupWMClass=io.github.prompdev.lidarknightauth
